on: push
jobs:
  first-job:
    runs-on: windows-latest
    steps:
      - name: Verificar o repositório
        uses: actions/checkout@v2

      - name: Configurar o ambiente Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.1  # Substitua '3.x' pela versão do Python que você deseja usar

      - name: Restaurar cache de dependências
        uses: actions/cache@v2
        with:
          path: ~/.cache/zip
          key: pip-${{ runner.os }}-${{ hashfiles('**/*.txt) }}
          restore/keys: |
            pip-${{ runner.os }}-

      - name: Instalar dependências
        run: |
          pip install requests_oauthlib requests pytest jsonschema
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - namse: Salvar cache de dependências
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ runner.os }}-${{ hashfiles('**/*.txt) }}

      - name: Executar o script Python
        run: |
         pytest .\Tests\test_playlists.py -s