on: push
jobs:
  first-job:
    runs-on: windows-latest
    steps:
      - name: Verificar o repositório
        uses: actions/checkout@v2

      - name: Configurar o ambiente Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11  # Substitua '3.x' pela versão do Python que você deseja usar

      - name: Restaurar cache de dependências
        uses: actions/cache@v3
        with:
          path: ~/.cache/zip
          key: pip-${{ runner.os }}-${{ hashFiles('**/*.txt') }}
          restore-keys: |
            pip-${{ runner.os }}

      - name: Instalar dependências
        run: |
          pip install requests_oauthlib requests pytest jsonschema
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - name: Salvar cache de dependências
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-${{ runner.os }}-${{ hashFiles('**/*.txt') }}

      - name: Adicionar caminho para o diretorio Requests
        run: |
          export PYTHONPATH=$PYTHONPATH:Requests
        working-directory: $GITHUB_WORKSPACE

      - name: Adicionar caminho para o diretorio Resources
        run: |
          export PYTHONPATH=$PYTHONPATH:Resources
        working-directory: $GITHUB_WORKSPACE

      - name: Executar o script Python
        run: |
         pytest .\Tests\test_playlists.py -s